[submodule ".config/dwm"] 
	path = .config/dwm 
   url = git@github.com:sr/dwm.git
[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule ".config/rofi"] 
	path = .config/rofi 
	url = git@github.com:curiouslychase/content.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/adi1090x/rofi
